html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.f24 {
  font-size: 24px;
}
.f40 {
  font-size: 40px;
}

.f16 {
  font-size: 16px;
}

.f20 {
  font-size: 20px;
}
ul {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.ct {
  text-align: center;
}
.f700 {
  font-weight: 700;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hero-image {
  background-image: url("../../public/images/hero.svg");
}
.overlay {
  background-image: radial-gradient(
    79.24% 270.81% at 35.45% 34.74%,
    rgba(5, 7, 5, 0.8) 0%,
    rgba(5, 7, 5, 0.712) 100%
  );
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}

input {
  outline: none;
}

.pointer {
  cursor: pointer;
}
