.container {
  padding-top: 60px;
}

.mainNavWrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mainNavWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-bottom: 23px;
  }

  .container {
    padding: 60px;
  }
}
